/*
    Estilo al cuerpo del index.php
*/
body{
    background-image: url("https://mystudycoach.com.mx/wp-content/uploads/2017/11/Clases-de-biolog%C3%ADa-en-MyStudyCoach-CDMX.jpg");
    background-position: center;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

nav{

  background-color:rgba(0,0,0,0.5); 
  font-size: medium;
}

/*
    Estilo de navbar
*/
ul {
    list-style-type: none;
    overflow: hidden;
    
  }
  
  li {
    float: right;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li:last-child {
    border-right: none;
  }

  .hover {
    color: white;
    opacity: 0;
  }
  


  