/*
    Estilo al cuerpo del index.php
*/
body{
    background-image: url("https://www.carmenboo.com/wp-content/uploads/2016/05/portada.jpg");
    background-position: center;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.navbar-default{background:#3285D1;border-color: #3285D1;}
.navbar-default .navbar-nav > li > a{color:#FFF;}
.nav > li > a{color:#FFF;}
.nav .open > a, .nav .open > a:hover, 
.nav .open > a:focus,
.nav > li > a:hover, .nav > li > a:focus{background-color:transparent !important;}

.navbar-toggle{margin-top:20px;}
.dropdown-menu{background:#fff;}

/**Para darle estilo al contenedor del modal login*/
.container{
    position: absolute;
    right: 400%;
    top: 178%;
}

.navbar-login
{
    width: 350px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

#comprar-arbol{
    position: absolute;
    right: 700%;
}

.row{
    overflow:hidden;
}

.thumbnail{
    position: absolute;
    text-align: left;
    float: left;
}
